/* 排课过程显示框 */
#generation_progress_div {   
    position: relative; 
    /* height: 200px; */
    /* width: 750px; */
    height: 200px;
    width: 25%;
    margin-top: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto; /* 允许垂直滚动 */
}

/* 排课过程显示框中div鼠标悬浮显示 */
#generation_progress_div div:hover {
    /* 鼠标指针样式 */
    cursor: pointer;
    /* 字体颜色 */
    color: #007bff;
    /* 背景颜色 */
    background-color: #f1f1f1;
}

/* 变异进化过程 */
#mutate_progress_div{
    position: absolute;
    left: 25.8%;
    /* margin-left: auto; */
    top: 113px;
    height: 200px;
    width: 30%;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* 允许滚动 */
    overflow: auto;
}

/* 当前代排课总览信息显示框 */
#generation_schedule_summary_info_div {
    position: absolute;
    left: 56.4%;
    margin-left: auto;
    top: 113px;
    height: 200px;
    width: 35%;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto; 
}

/* 当前代排课总览信息显示框字符串过长自动换行 */
.schedule_summary_div {
    white-space: pre-wrap; /* 保留换行并自动换行 */
    word-wrap: break-word; /* 对长单词换行 */
    word-break: break-word; /* 防止单词超出边界 */
    max-width: 100%; /* 可选，限制最大宽度 */
    overflow-wrap: break-word; /* 兼容性更好的换行 */
    margin-bottom: 10px; /* 添加间距以便多个块分隔 */
}


/* 排课信息显示框 */
#schedule_info_div {
    position: relative;
    /* 不设置宽度可以自适应宽度 */
    /* width: 100%; */
    height: 850px;
    margin-top: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto; /* 允许滚动 */
}

/* 内容框内的文字样式 */
.show_course_schedule_div h3 {
    position: absolute;
    left: 5px;
    top: -12px;
    /* font-size: 20px; */
}

/* 排课可视化的图例显示 */
#schedule_visualization_legend_div{
    position: relative;
    margin-top: 10px;
    /* border: 1px solid #ccc; */
    width: 100%;
    height: 100px;
    /* 可横向纵向滚动 */
    overflow: auto; 
    /* 设置横向排列元素 */
    display: flex;
    /* 元素排列对其方式 */
    /* justify-content: center; */
    align-items: flex-start;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 可视化图例 */
#schedule_visualization_legend_div div{
    width: 10%;
    height: 25px;
    margin-top: 40px;
    margin-left: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}


/* 排课可视化div */
#schedule_visualization_div {
    position: relative;
    margin-top: 10px;
    /* border: 1px solid #ccc; */
    width: 100%;
    height: 500px;
    /* 可横向纵向滚动 */
    overflow: auto; 
    /* display: flex; */
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.visualize_top_generation_info_div{
    position: absolute;
    left: 5px;
    /* background-color: #db16ec; */
}

/* 网格容器样式 */
.schedule-grid {
    position: absolute;
    top: 22px;
    display: grid;
    /* 网格间距 */
    grid-gap: 2px;
    /* background-color: #e70b0b; */
    /* border: 1px solid #ddd; */
    /* padding: 5px; */
    /* border-radius: 10px; */
}

/* 横纵坐标标题样式 */
.schedule-header {
    font-weight: bold;
    background-color: #004085; /* 深蓝背景 */
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
}

/* 横坐标标题样式（教室） */
.schedule-header-horizontal {
    background-color: #0069d9; /* 蓝色背景 */
    font-size: 13px;
    /* 启用弹性布局 */
    display: flex;
    /* 水平居中 */
    justify-content: center;
    /* 垂直居中 */
    align-items: center;
    /* padding: 6px; */
    color: #fff;
    border-radius: 5px;
    position: sticky; /* 固定表头 */
    top: 0; /* 固定在顶部 */
    z-index: 1; /* 确保表头在上面 */
}

/* 纵坐标标题样式（时间） */
.schedule-header-vertical {
    /* width: 100%; */
    background-color: #17a2b8; /* 青色背景 */
    font-size: 13px;
    /* 启用弹性布局 */
    display: flex;
    /* 水平居中 */
    justify-content: center;
    /* 垂直居中 */
    align-items: center;
    /* padding: 6px; */
    color: #fff;
    border-radius: 5px;
    position: sticky; /* 固定表头 */
    left: 0; /* 固定在的位置 */
    z-index: 1; /* 确保表头在上面 */
}

/* 单元格样式 */
.schedule-cell {
    /* width: 120px; */
    /* height: 50px; */
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
    color: #333;
    font-size: 13px;
    /* font-family: Arial, sans-serif; */
    margin: 2px;
    border-radius: 5px;
}

/* 单元格内部内容样式 */
.schedule-cell strong {
    /* 减少课程名与教师名之间的间距 */
    margin-bottom: -10px;
}

/* 空单元格样式 */
.schedule-cell-empty {
    background-color: rgba(7, 1, 1, 0.1);
}

/* 正常课程单元格 */
.schedule-cell-normal {
    background-color: rgba(0, 128, 255, 0.2);
    color: #333;
}

/* 不可上课时间的课程 */
.schedule-cell-unavailable {
    background-color: rgba(255, 69, 0, 0.2); /* 橙红色背景 */
    color: #ff4500;
    font-weight: bold;
}

/* 有学生冲突的课程 */
.schedule-cell-student-conflict {
    background-color: rgba(255, 215, 0, 0.2); /* 金黄色背景 */
    color: #ffbf00;
    font-weight: bold;
}

/* 存在多重冲突的课程 */
.schedule-cell-multiple-conflicts {
    background-color: rgba(123, 104, 238, 0.2); /* 紫罗兰色背景 */
    color: #7b68ee;
    font-weight: bold;
}

/* 实验课样式 */
.schedule-cell-experiment{
    background-color:  rgba(0, 128, 0, 0.2);
    color: #333;
    font-weight: bold;
}

/* 表格样式 */
table {
    width: 100%;
    border-collapse: collapse; /* 合并表格单元格边框 */
    /* background-color: #eb0808; */
    /* 字体大小 */
    font-size: 13px; 
}

/* 表头和单元格 */
th, td {
    padding: 5px;
    border: 1px solid #ddd;
}

/* 设置表头样式，使其固定 */
th {
    background-color: #0069d9;
    color: white;
    /* background-color: #f2f2f2; */
    position: sticky; /* 固定表头 */
    top: 0; /* 固定在顶部 */
    z-index: 1; /* 确保表头在上面 */
}

/* （tr）表格行鼠标悬浮样式 */
tr:hover {
    /* 鼠标指针样式 */
    cursor: pointer;
    /* 字体颜色 */
    color: #007bff;
    /* 背景颜色 */
    background-color: #f1f1f1;
}

/* 分页功能容器样式 */
.pagination {
    display: flex;
    justify-content: center; /* 居中显示分页按钮 */
    gap: 10px; /* 分页按钮之间的间距 */
    margin-top: 5px;
}

/* 分页按钮样式 */
.pagination button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
}

/* 鼠标悬停时按钮的背景色 */
.pagination button:hover {
    background-color: #007bff; /* 蓝色背景 */
    color: white; /* 白色文字 */
}

/* 当前页的按钮样式 */
.pagination .current-page {
    background-color: #007bff; /* 蓝色背景 */
    color: white; /* 白色文字 */
    font-weight: bold; /* 加粗文字 */
}

/* 下载按钮css */
#download_button_div{
    position: relative;
    margin-top: 10px;
    width: 10%;
    border-radius: 5px;
}

/* 实验课排课次数过多样式 */
.schedule_cell_experiment_too_many_count{
    background-color: rgba(0, 128, 0, 0.4);
    color: #333;
    font-weight: bold;
}


/* 理论课排课次数过多样式 */
.schedule_cell_theory_too_many_count{
    background-color: rgba(0, 128, 255, 0.5);
    color: #333;
}
/* 理论课排课次数过于过多样式 */
.schedule_cell_theory_too_too_many_count{
    background-color: rgba(0, 128, 255, 0.7);
    color: #333;
}

/* 理论课排课次数过少样式 */
.schedule_cell_theory_too_less_count{
    background-color: rgba(255, 0, 179, 0.2);
    color: #333;
}

/* 实验课排课次数过少样式 */
.schedule_cell_experiment_too_less_count{
    background-color: rgba(255, 0, 179, 0.2);
    color: #333;
}

/* 实验课排课次数过于过多样式 */
.schedule_cell_experiment_too_too_many_count{
    background-color: rgba(0, 128, 0, 0.6);
    color: #333;
    font-weight: bold;
}

/* 理论课未间隔一天排课 */
.schedule_cell_continuous{
    background-color: rgba(237, 135, 45, 0.2);
    color: #333;
}

/* 距离过远的课程样式 */
.schedule-cell-distance_unnormal{
    background-color: rgba(237, 135, 45, 0.5);
    color: #333;
}
/* 未排课的课程样式 */
.schedule-cell-not-schedule{
    background-color: rgba(255, 255, 255, 0.2);
    color: #333;
}