body {
    /* 字体 */
    /* font-family: Arial, sans-serif; */
    margin: 0;
    padding: 0;
}
/* 顶端横幅 */
#header_div {
    position: absolute;
    background-color: #4CAF50;
    top: 0px;
    /* 宽度 */
    width: 100%;
    /* 高度 */
    height: 50px;
    /* 添加阴影效果 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

/* 页面左侧div */
#left_div {
    /* 位置 */
    position: absolute;
    background-color: #333;
    top: 50px;
    width: 200px; /* 侧边栏的宽度 */
    /* 减去顶端横幅的高度 */
    height: calc(100% - 50px);
}

/* 页面主内容div */
#content_div {
    position: absolute;
    /* padding: 20px; */
    /* background-color: #3b16e0; */
    top: 50px;
    left: 200px;
    /* 页面100%的宽度减去左侧窗口的宽度 */
    width: calc(100% - 200px);
    /* 主内容的高度 */
    height: calc(100% - 50px);
}