<!--
 * @Author: xudawu
 * @Date: 2024-10-21 10:45:22
 * @LastEditors: xudawu
 * @LastEditTime: 2024-10-30 09:30:31
-->
<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <!-- <title>可交互的折线图</title> -->
        <!-- 传递点击页面的消息到父页面 -->
        <script src="public_static_path/js/iframe_click_listener.js"></script>
        
        <!-- 验证session的js -->
        <!-- <script src="public_static_path/js/verify_session.js"></script> -->

    </head>
    <body>
        <h1>学院、班级、课程性质筛选</h1>
        <label for="college">学院:</label>
        <select id="college" onchange="update_class()" style="width: 150px;">
            <option value="">请选择学院</option>
        </select>

        <label for="class">班级:</label>
        <select id="class" onchange="update_class_type()" style="width: 150px;">
            <option value="">请选择班级</option>
        </select>

        <label for="corse_type">课程性质:</label>
        <select id="corse_type" onchange="submit_select_info()" style="width: 150px;">
            <option value="">请选择课程性质</option>
        </select>
        
        <!-- | safe 是一个过滤器，用于告诉模板引擎，graph_html 的内容是安全的，可以直接插入到 HTML 中，而不会被转义 -->
        <!-- 班级成绩每个人 -->
        <div id="line_chart_div">{{ line_chart_html | safe }}</div>
        <!-- 班级成绩分组 -->
        <div id="group_line_chart_div">{{ group_line_chart_html | safe }}</div>

    </body>

    <!-- 获得学院和班级选项js -->
    <script src="score_visualization_static_path/js/get_college_class_select.js"></script>
    <!-- 根据学院和班级获得课程类型选项js -->
    <script src="score_visualization_static_path/js/get_class_type_select.js"></script>
    <!-- 提交学院、班级、课程类型信息js -->
    <script src="score_visualization_static_path/js/submit_select_info.js"></script>
    
</html>
