<!--
 * @Author: xudawu
 * @Date: 2024-10-10 09:20:58
 * @LastEditors: xudawu
 * @LastEditTime: 2024-10-14 17:54:49
-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登录</title>
    <!-- 登录和注册css -->
    <link rel="stylesheet" type="text/css" href="login_static_path/css/login_register.css?v=login_css">
    <!-- 验证session -->
    <script src="public_static_path/js/verify_session_invalid.js?v=login_session_invalid_js"></script>
</head>
<body>

    <div class="login-container" id="login-form">
        <h2>用户登录</h2>
        <form id="login_form">
            <input type="text" id="login-username" name="username" class="input-field" placeholder="用户名" required>
            <input type="password" id="login-password" name="password" class="input-field" placeholder="密码" required>
            <button type="submit" class="btn">登录</button>
        </form>
        <p id="login-error-message" class="error-message">用户名或密码错误</p>
        <div class="toggle-btn" onclick="toggleForms()">没有账号？注册</div>
    </div>

    <div class="login-container" id="register-form" style="display: none;">
        <h2>用户注册</h2>
        <form id="register_form">
            <input type="text" id="register-username" name="username" class="input-field" placeholder="用户名" required>
            <input type="password" id="register-password" name="password" class="input-field" placeholder="密码" required>
            <input type="password" id="confirm-password" name="confirm_password" class="input-field" placeholder="确认密码" required>
            <button type="submit" class="btn">注册</button>
        </form>
        <p id="register-error-message" class="error-message">注册失败，请重试</p>
        <div class="toggle-btn" onclick="toggleForms()">已有账号？登录</div>
    </div>

    <!-- 登录和注册js -->
    
    <script src="login_static_path/js/login_register.js?v=login_login_register_js"></script>
    <!-- <script src="login_static_path/js/login_register.js?v=<?php echo time(); ?>"></script> -->

</body>
</html>
