<!--
 * @Author: xudawu
 * @Date: 2024-11-06 17:27:48
 * @LastEditors: xudawu
 * @LastEditTime: 2024-11-12 16:24:08
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>超级查询</title>

    <!-- 验证session的js -->
    <script src="public_static_path/js/verify_session.js"></script>
    
    <!-- 页面样式css -->
    <link rel="stylesheet" href="super_search_static_path/css/super_search.css">
    <!-- 数据处理js -->
    <script src="super_search_static_path/js/super_search.js"></script>
</head>
<body>
    <h1>超级查询</h1>
    
    <div class="button-group" id="search_table_div">
        单数据表列查询:
        <input type="text" id="search_table_input" placeholder="输入查询关键词">
        <button onclick="search_table_js()">查询</button>
    </div>

    <div class="button-group" id="search_database_div">
        全数据库查询:
        <input type="text" id="search_database_input" placeholder="输入数据库查询关键词">
        <button onclick="search_database_js()">查询</button>
    </div>

    <div class="container_div">
        <div class="top_section_div">
            <div id="table_match_content_div" class="content_box">
                <h3>相关表格</h3>
                <h5>只搜索数据库相关的表名和列名，点击表名显示完整信息</h5>
            </div>
            <div id="database_match_content_div" class="content_box">
                <h3>相关字段</h3>
                <h5>全数据库搜索相关字段，不搜索相关表名和列名，只显示第一条相关字段和对应的列名和表名，点击表名显示完整信息</h5>
            </div>
        </div>

        <div class="button-group" id="search_filter_div">
            表数据筛选:
            <input type="text" id="search_filter_input" placeholder="输入筛选关键词">
            <button onclick="search_filter_js()">筛选</button>
        </div>
        
        <div id="table_data_div" class="content_box">
            <h3>数据表内容</h3>
        </div>
    </div>
</body>
</html>
