<!--
 * @Author: xudawu
 * @Date: 2024-11-12 10:49:26
 * @LastEditors: xudawu
 * @LastEditTime: 2024-12-05 17:59:09
-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 传递点击页面的消息到父页面 -->
    <script src="public_static_path/js/iframe_click_listener.js"></script>
    <!-- 验证session的js -->
    <!-- <script src="public_static_path/js/verify_session.js"></script> -->
    
    <!-- 页面样式css -->
    <link rel="stylesheet" href="course_schedule_static_path/css/course_schedule.css">
</head>
<body>
    <h1>排课系统</h1>
    <!-- 开始排课按钮 -->
    <button id="start_course_schedule_button" onclick="start_course_schedule()">开始排课</button>
    <!-- 停止排课按钮 -->
    <button id="stop_course_schedule_button" onclick="stop_course_schedule()">停止排课</button>
    <!-- 显示排课过程的进度框 -->
    <div id="generation_progress_div" class="show_course_schedule_div">
        <h3>排课过程</h3>
    </div>

    <!-- 用于当前代排课信息总览 -->
    <div id="generation_schedule_summary_info_div" class="show_course_schedule_div">
        <h3>当前代排课信息总览</h3>
    </div>
    
    <!-- 排课过程可视化 -->
    <div id="schedule_visualization_div" class="show_course_schedule_div">
        <h3>排课过程可视化</h3>
        <!-- <p><strong>说明:</strong></p> -->
        <p>1. 正常实验课为浅绿色,安排次数过多为深绿色</p>
        <p>2. 正常理论课为浅蓝色,安排次数过多为深蓝色</p>
        <p>3. 未安排排课为白色</p>
        <p>4. 存在教师不可上课时间单元格为橙红色</p>
        <p>5. 存在学生上课时间冲突单元格为金黄色</p>
        <p>6. 存在以上两种冲突单元格为紫色</p>
        
    </div>

    <!-- 下载按钮 -->
    <div class="button-group" id="download_button_div">
        <button id="download_button" onclick="download_data_to_excel()">下载当前代排课数据</button>
    </div>

    <!-- 用于显示具体的排课信息 -->
    <div id="schedule_info_div" class="show_course_schedule_div">
        <h3>详细排课信息</h3>
    </div>



    <!-- 数据处理js -->
    <script src="course_schedule_static_path/js/course_schedule.js"></script>

</body>
</html>
