<!--
 * @Author: xudawu
 * @Date: 2024-11-12 10:49:26
 * @LastEditors: xudawu
 * @LastEditTime: 2024-12-19 15:42:11
-->
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 传递点击页面的消息到父页面 -->
    <script src="public_static_path/js/iframe_click_listener.js"></script>
    <!-- 验证session的js -->
    <!-- <script src="public_static_path/js/verify_session.js"></script> -->
    
    <!-- 页面样式css -->
    <link rel="stylesheet" href="course_schedule_static_path/css/course_schedule.css">
</head>
<body>
    <h1>排课系统</h1>

    <!-- <h1>学院、班级、课程性质筛选</h1> -->
    <label for="select_semester_label">排课学期:</label>
    <select id="select_semester_select" onchange="update_semester()" style="width: 150px;">
        <option value="">请选择一个排课学期</option>
    </select>

    <!-- 快速开始排课按钮 -->
    <button id="quick_start_course_schedule_button" onclick="quick_start_course_schedule()">开始快速排课</button>
    <!-- 更优开始排课按钮 -->
    <button id="better_start_course_schedule_button" onclick="better_start_course_schedule()">开始更优排课</button>
    <!-- 停止排课按钮 -->
    <button id="stop_course_schedule_button" onclick="stop_schedule()">停止排课</button>

    <!-- 显示排课过程的进度框 -->
    <div id="generation_progress_div" class="show_course_schedule_div">
        <h3>排课过程</h3>
        <p>
            排课迭代过程简述：<br>
            1. 随机生成初始排课方案<br>
            2. 计算排课方案评分，取出最优方案<br>
            3. 选择此排课方案<br>
            4. 改变排课方案<br>
            5. 评估此改变<br>
            6. 评估结果为好继承此改变，回到3<br>
            7. 评估结果为不好，取消此改变，回到4<br>
            8. 迭代一定时间后选择当前时间排课方案<br>
            初始化数据耗时长(约2小时)，耐心等待...<br>
    </div>

    <!-- 显示变异进化过程的进度框 -->
    <div id="mutate_progress_div" class="show_course_schedule_div">
        <h3>变异进化过程</h3>
    </div>

    <!-- 用于当前代排课信息总览 -->
    <div id="generation_schedule_summary_info_div" class="show_course_schedule_div">
        <h3>当前代排课信息总览</h3>
    </div>
    
    <!-- 可视化的图例显示div -->
    <div id="schedule_visualization_legend_div" class="show_course_schedule_div">
        <h3>可视化排课图例</h3>
        <div class="schedule-cell-not-schedule">未安排排课</div>
        <div class="schedule-cell-normal">正常理论课(周安排次数1-2次,1-2讲)</div>
        <div class="schedule_cell_theory_too_many_count">理论课一周安排次数3次(3讲)</div>
        <div class="schedule_cell_theory_too_too_many_count">理论课一周安排次数大于3次(3讲)</div>

        <div class="schedule-cell-experiment">正常实验课(周安排次数1-2次,2-4讲)</div>
        <!-- <div class="schedule_cell_experiment_too_many_count">实验课一周安排次数3次</div> -->
        <div class="schedule_cell_experiment_too_too_many_count">实验课一周安排次数大于等于3次(6讲)</div>

        <!-- <div class="schedule_cell_theory_too_less_count">课程一周安排次数1次</div> -->
        <div class="schedule-cell-unavailable">教师不可上课时间</div>
        <div class="schedule-cell-student-conflict">学生上课时间冲突</div>
        <div class="schedule-cell-multiple-conflicts">多种冲突</div>
        
        <div class="schedule_cell_continuous">理论课没有间隔一天排课</div>
        <div class="schedule-cell-distance_unnormal">课程安排学时距离要求学时大于0</div>

    </div>

    <!-- 排课过程可视化 -->
    <div id="schedule_visualization_div" class="show_course_schedule_div">
        <h3>排课过程可视化</h3>
    </div>

    <!-- 下载按钮 -->
    <div class="button-group" id="download_button_div">
        <button id="download_button" onclick="download_data_to_excel()">下载当前代排课数据</button>
    </div>

    <!-- 用于显示具体的排课信息 -->
    <div id="schedule_info_div" class="show_course_schedule_div">
        <h3>详细排课信息</h3>
    </div>

    <!-- 数据处理js -->
    <script src="course_schedule_static_path/js/course_schedule.js"></script>

    <!-- 获取学期选择信息 -->
    <script src="course_schedule_static_path/js/course_schedule_updata_semester.js"></script>

</body>
</html>
